<html>
<head>
<title>Car Details</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
      body{
          background-image: url('https://tse3.mm.bing.net/th?id=OIP.UvhLfGAcfRkDWUpXJotRrgHaFj&pid=Api&P=0&w=221&h=167');
          background-size:1500px 800px;
          text-align:center;
          color:black;
      }
      h1{
          color:green;
      }
</style>
</head>
<body>
    <h1> List of Different Cars Information</h1>
    <div>
      <%  profile.forEach(function(profile) {%>
        <div>
        <b>
        <p> Name : <%= profile.name %></p>
        <p> Plate Number: <%= profile.plateNo %></p>
        <p> Colour: <%= profile.colour %></p>
        <p> Model: <%= profile.model %></p>
        <b><br>
        <form action="/delete-car-record:id <% profile._id %>" method="DELETE">
           <button type="submit">Delete</button>
        </form>
        <div>
           <button><a href="/update-car-record">Update</a> </button>
        </div> 
        <hr>
        </div>
    <% }) %>
</div><br><br>
<div>
    <button><a href="/"> Log Out </a></button>
</div>
</body>
</html>